.wrapper {
  width: 200px;
  background-color: red;
  color: white;
}

.centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100px;
  font-size: 20px;
  background-color: blue;
  color: inherit;
}

.content:hover {
  background-color: green;
}
